/* Hide Scrollbar */
html {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar {
  display: none;
}

/* Global Styles */
body {
  font-family: 'Arial', sans-serif;
  color: #1a1a1a;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  position: relative;
  z-index: 0;
  background-color: #1a1a1a;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100vw;
  background-image: url('./assets/images/BG-Large.png');
}

/* Responsive Background Images */
@media (max-height: 4000px) {
  body {
    background-image: url('./assets/images/BG-Large-PC.png');
  }
}

@media (max-width: 3000px) {
  body {
    background-image: url('./assets/images/BG-Medium.png');
  }
}

@media (max-height: 3000px) {
  body {
    background-image: url('./assets/images/BG-Medium-PC.png');
  }
}

@media (max-width: 2000px) {
  body {
    background-image: url('./assets/images/BG-Small.png');
  }
}

@media (max-height: 2000px) {
  body {
    background-image: url('./assets/images/BG-Small-PC.png');
  }
}

@media (max-height: 1000px) and (max-width: 500px) {
  body {
    background-image: url('./assets/images/BG-Small-Small.png');
  }
}

/* Containers */
.container,
.containerT,
.containerTT,
.containerTB {
  max-width: 1200px;
  margin: 40px auto;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 30px;
  border-radius: 10px;
}

.container,
.containerT,
.containerTT,
.containerTB {
  max-width: 1200px;
  margin: 40px auto;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 30px;
  border-radius: 10px;
}

.containerTC,
.containerTTC,
.containerTBC {
  max-width: 1200px;
  margin: 40px auto;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 30px;
  border-radius: 10px;
}

.containerTTC {
  margin-top: 0;

}
.containerTBC {
  margin-bottom: 0;
}

.containerTT {
  margin-top: 0;
}

.containerTB {
  margin-bottom: 0;
}

.containerM {
  max-width: 1200px;
  width: 100vw;
  margin: 5px auto;
  background-color: rgba(0, 0, 0, 0);
  padding: 0px;
}



/* Header */
header {
  color: black;
  background-color: #e0a628;
  text-align: center;
  padding: 80px 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 0;
}

header h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

header p {
  font-size: 1.5rem;
}

/* Sections */
section {
  background-color: white;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

section h2 {
  font-size: 2.5rem;
  color: #ffffff;
  margin-bottom: 20px;
  margin-top: 0;
}

section h5 {
  margin: 0;
}

section p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #c2c2c2;
}

/* List Group */
.list-group-item {
  font-size: 1.2rem;
  padding: 15px;
  border: none;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 8px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.list-group-item i {
  margin-right: 10px;
  color: #007bff;
}

/* Card */
.card {
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.card-title {
  font-size: 1.5rem;
  color: #ffffff;
}

.card-body {
  padding: 20px;
}

.card-text {
  font-size: 1.1rem;
  color: #868686;
  margin: 0;
}

.card .btn {
  background-color: #e0a628;
  color: black;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}

.card .btn:hover {
  background-color: #765610;
  color: white;
}

.card-img-top {
  border-radius: 8px 8px 0 0;
  height: 250px;
  object-fit: cover;
}

/* Form */
form {
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

form label {
  font-size: 1.1rem;
}

form .form-control {
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 15px;
  font-size: 1.1rem;
}

form button {
  background-color: #fcbe37;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
}

form button:hover {
  background-color: #e0a628;
  color: white;
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
  background-color: #007bff;
  color: white;
  font-size: 1rem;
}

/* Buttons */
.custom-btn {
  background-color: #e0a628;
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1rem;
}

.custom-btn:hover {
  background-color: #765610;
  color: white;
}

/* Skill Card */
.skill-card {
  background-color: #f8f9fa;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.skill-card:hover {
  transform: translateY(-10px);
}

.skill-card p {
  font-size: 1.1rem;
  color: #333;
  margin-top: 10px;
}

/* Logo Container */
.logo-container {
  position: fixed;
  bottom: 20px;
  left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.logo a {
  margin: 0 10px;
  font-size: 30px;
  color: rgba(0, 0, 0, 0.6);
  transition: color 0.3s ease-in-out;
}

.logo a:hover {
  color: #e0a628;
}

.logo a i {
  background-color: rgba(224, 166, 40, 0.6);
  border-radius: 50%;
  padding: 10px;
  transition: transform 0.3s ease;
}

.logo a:hover i {
  transform: scale(1.2);
}

/* Toggle Arrow */
.toggle-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  cursor: pointer;
  color: #e0a628;
  margin-top: 10px;
  transition: transform 0.3s ease;
}

.toggle-arrow:hover {
  color: #765610;
  transform: scale(1.2);
}

/* Skills Grid */
.skills-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-items: center;
  align-items: center;
}

.project-links {
  margin-top : 15px;
}

h2.text-center {
  color: rgb(160, 160, 160);
}

.list-group-item {
  color: rgb(160, 160, 160);
}

.list-group-item a {
  color: rgb(160, 160, 160);
}

.list-group-item a:hover {
  text-decoration: underline;
}

/* Header.css */

/* Main header styling */
header {
  background-color:#e0a628;
  color: black; /* Change text color to black */
  padding-top: 50px;
  padding-bottom: 50px;
  background-size: cover;
  background-position: center;
}

/* Header content section */
.header-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

/* Avatar image styling */
.header-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-right: 20px;
}

/* Text section styling */
header div {
  text-align: left;
  padding-top: 18px;
  padding-bottom: 22px;
}

/* Title and paragraph styling */
h1 {
  margin: 0;
  padding: 0;
  color: black; /* Ensure the title text is black */
}

p {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  color: black; /* Ensure the paragraph text is black */
}

.tags {
  margin: 5px 0px 10px 5px;
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.tagsM {
  margin: 5px 0px 10px 0px;
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.project-tag {
  background-color: rgba(0, 0, 0, 1);
  color: #e0a628;
  font-size: 0.7em;
  padding: 5px 10px;
  border-radius: 15px;
  font-weight: bold;
  display: inline-block;
  margin: 0px;
  border: 1px solid #e0a628; 
}

